<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <conversionRule
        conversionWord="actor"
        converterClass="ru.shift.logging.ActorHighlightingConverter"
    />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %actor([%thread]) %actor(%-5level) %actor(%logger{36}) -- %actor(%msg)\n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>
